<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="../public/styles/campFile.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js"></script>

    </head>
    <% if(!isLoggedIn) { %>
        <%- include('includes/navbar.ejs') %>
            <%} else {%>
                <%- include('includes/navbar_loggedIn.ejs') %>
                    <% } %>
                        <div class="main-campground">
                            <div class="container-campground">
                                <div class="side-part">
                                    <div class="camp-title">
                                        <%= camp.name %>
                                    </div>
                                    <div class="camp-info">
                                        <div class="info-title">
                                            Phone:
                                            <div class="info-subtitle">
                                                <%= camp.phone%>
                                            </div>

                                        </div>
                                        <div class="info">
                                            Period of validity:
                                            <div class="info-subtitle">
                                                From: <%=camp.startDate%>
                                            </div>
                                            <div class="info-subtitle">
                                                Up to: <%= camp.endDate%>
                                            </div>
                                        </div>
                                        <div class="info" id="map">

                                        </div>
                                    </div>
                                    <div class="camp-map">

                                    </div>
                                </div>
                                <div class="main-content">
                                    <div class="camp-details">
                                        <img class="image"
                                            src="../public/images/<%= camp._id %><%= camp.imgExtension %>"
                                            alt="Camp image">
                                        <div class="cmp-info">
                                            <div id="cmp-info-header">
                                                <div class="title-cmp-info">
                                                    <%= camp.name %>
                                                </div>
                                                <div>
                                                    <%= camp.price %>$
                                                </div>
                                            </div>
                                            <div class="stars-cmp-info"></div>
                                            <div class="description-cmp-info">Lorem ipsum dolor, sit amet consectetur
                                                <%= camp.description %>
                                            </div>
                                            <div class="submited-by">Submited by</div>

                                            <div class="booking">
                                                <form action="/book" method="POST" class="book-form">
                                                    <label class="book-label">Starting date:
                                                        <input type="date" id="start-booking" name="startBooking"
                                                            min="<%=camp.startDate%>" max="<%=camp.endDate%>" required>
                                                    </label>
                                                    <label class="book-label" id="end-booking-label">Ending date:
                                                        <input type="date" id="end-booking" name="endBooking"
                                                            min="<%=camp.startDate%>" max="<%=camp.endDate%>" required>
                                                    </label>
                                                    <input type="submit" value="Book" class="book-btn">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="camp-comments">
                                        <div class="comments-header">
                                            <button onclick="showReview()" class="review-btn">Leave a Review</button>
                                            <form action="/leave-review" method="POST" class="review-form"
                                                style="display: none;" id="review-form">
                                                <p>Rating</p>
                                                <div class="rating-container">

                                                    <input type="radio" id="star1" name="star" value="5"><label
                                                        for="star1"></label>
                                                    <input type="radio" id="star2" name="star" value="4"><label
                                                        for="star2"></label>
                                                    <input type="radio" id="star3" name="star" value="3"><label
                                                        for="star3"></label>
                                                    <input type="radio" id="star4" name="star" value="2"><label
                                                        for="star4"></label>
                                                    <input type="radio" id="star5" name="star" value="1"><label
                                                        for="star5"></label>

                                                </div>
                                                <div class="comment-section">
                                                    <h4 style="margin-bottom: 1px;">Comment</h4>
                                                    <textarea id="comment-box" placeholder="Enter your comment"
                                                        name="reviewText" required></textarea>
                                                </div>

                                                <div>
                                                    <button type="submit" class="submit-button">Send review</button>
                                                </div>
                                            </form>
                                        </div>
                                        <%for(let review of reviews) {%>
                                            <div class="previous-comments">
                                                <div class="comment-header">
                                                    <div class="comment-user">
                                                        <i class="fas fa-user"></i>
                                                        <a href="/profile/<%= review.userID %>">
                                                            <%= review.userName %>
                                                        </a>

                                                    </div>
                                                    <div class="commnet-rating">
                                                        <%= review.rating%>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <%= review.message %>
                                                </div>
                                            </div>
                                            <%}%>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <%- include('includes/footer.ejs') %>
                            <script src="../public/js/campFile.js"></script>
                            <script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
                            <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
                            <script>
                                mapboxgl.accessToken = 'pk.eyJ1IjoibHVjYXJhZHUiLCJhIjoiY2twaDJ4bDA3MmgwbjJwbGw5MHRjOGxwdyJ9.uaJt77I81Xp_s1rZyDMTBA';
                                var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
                                mapboxClient.geocoding
                                    .forwardGeocode({
                                        query: "<%= camp.address %>",
                                        autocomplete: false,
                                        limit: 1
                                    })
                                    .send()
                                    .then(function (response) {
                                        if (
                                            response &&
                                            response.body &&
                                            response.body.features &&
                                            response.body.features.length
                                        ) {
                                            var feature = response.body.features[0];

                                            var map = new mapboxgl.Map({
                                                container: 'map',
                                                style: 'mapbox://styles/mapbox/streets-v11',
                                                center: feature.center,
                                                zoom: 10
                                            });

                                            // Create a marker and add it to the map.
                                            new mapboxgl.Marker().setLngLat(feature.center).addTo(map);
                                        }
                                    });
                            </script>
                            </body>

                            </html>