<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="../public/styles/campFile.css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
    </head>
    <% if(!isLoggedIn) { %>
        <%- include('includes/navbar.ejs') %>
            <%} else {%>
                <%- include('includes/navbar_loggedIn.ejs') %>
                    <% } %>
                        <div class="main-campground">
                            <div class="container-campground">
                                <div class="side-part">
                                    <div class="camp-title">
                                        <%= camp.name %>
                                    </div>
                                    <div class="camp-info">
                                        <div class="info-title">
                                            test
                                        </div>
                                        <div class="info">
                                            test
                                        </div>
                                    </div>
                                    <div class="camp-map">

                                    </div>
                                </div>
                                <div class="main-content">
                                    <div class="camp-details">
                                        <img class="image"
                                            src="../public/images/<%= camp._id %><%= camp.imgExtension %>"
                                            alt="Camp image">
                                        <div class="cmp-info">
                                            <div id="cmp-info-header">
                                                <div class="title-cmp-info">
                                                    <%= camp.name %>
                                                </div>
                                                <div>
                                                    <%= camp.price %>$
                                                </div>
                                            </div>
                                            <div class="stars-cmp-info"></div>
                                            <div class="description-cmp-info">Lorem ipsum dolor, sit amet consectetur
                                                <%= camp.description %>
                                            </div>
                                            <div class="submited-by">Submited by</div>
                                        </div>
                                    </div>
                                    <div class="camp-comments">
                                        <div class="comments-header">
                                            <button onclick="showReview()" class="review-btn">Leave a Review</button>
                                            <form action="/leave-review" method="POST" class="review-form"
                                                style="display: none;" id="review-form">
                                                <p>Rating</p>
                                                <div class="rating-container">

                                                    <input type="radio" id="star1" name="star" value="1"><label
                                                        for="star1"></label>
                                                    <input type="radio" id="star2" name="star" value="2"><label
                                                        for="star2"></label>
                                                    <input type="radio" id="star3" name="star" value="3"><label
                                                        for="star3"></label>
                                                    <input type="radio" id="star4" name="star" value="4"><label
                                                        for="star4"></label>
                                                    <input type="radio" id="star5" name="star" value="5"><label
                                                        for="star5"></label>

                                                </div>
                                                <div class="comment-section">
                                                    <h4 style="margin-bottom: 1px;">Comment</h4>
                                                    <textarea id="comment-box" placeholder="Enter your comment"
                                                        name="reviewText" required></textarea>
                                                </div>

                                                <div>
                                                    <button type="submit" class="submit-button">Send review</button>
                                                </div>
                                            </form>
                                        </div>
                                        <%for(let review of reviews) {%>
                                            <div class="previous-comments">
                                                <div class="comment-header">
                                                    <div class="comment-user">
                                                        <i class="fas fa-user"></i>
                                                        <a href="/profile/<%= review.userID %>">
                                                            <%= review.userName %>
                                                        </a>

                                                    </div>
                                                    <div class="commnet-rating">
                                                        <%= review.rating%>
                                                    </div>
                                                </div>
                                                <div class="comment-content">
                                                    <%= review.message %>
                                                </div>
                                            </div>
                                            <%}%>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <%- include('includes/footer.ejs') %>
                            <script src="../public/js/campFile.js"></script>
                            </body>

                            </html>