<%- include('includes/head.ejs') %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap" rel="stylesheet">
    </head>
    <% if(!isLoggedIn) { %>
        <%- include('includes/navbar.ejs') %>
            <%} else {%>
                <%- include('includes/navbar_loggedIn.ejs') %>
                    <% } %>
                        <div class="top-background">
                            <h1 class="top-background__msg">
                                Welcome to Campgrounds!
                            </h1>
                            <p class="top-background__paragraph">
                                Find your best campground and enjoy the nature
                            </p>
                        </div>

                        <div class="info-section">
                            <div class="resources">

                                <!-- <select name="ordering" id="order-select" class="select-order">
                                    <option value="">
                                        Sort By
                                    </option>
                                    <option value="date"> Date </option>
                                    <option value="name"> Name </option>
                                    <option value="rating"> Rating </option>
                                </select> -->

                                <div class="search-bar">
                                    <form action="/search" method="POST">
                                        <input type="text" placeholder="Search..." name="search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>

                            </div>
                        </div>

                        <div class="central-part">
                            <main class="main__side">

                                <div class="gallery">
                                    <% for(let camp of camps) { %>
                                        <div class="gallery__thumbnail">
                                            <a href="/campground/<%= camp._id %>">
                                                <%if(camp.imgExtension) {%>
                                                <img src="../public/images/<%= camp._id %><%= camp.imgExtension %>"
                                                    alt="Campground image">
                                                    <% } else {%>
                                                        <img src="../public/images/no-image.png"
                                                    alt="Default image campground">
                                                        <%}%>
                                                <div class="thumbnail__infos">
                                                    <span>
                                                        <%= camp.name %>
                                                    </span>
                                                    <div class="price">
                                                        $ <%= camp.price %> /night
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <% } %>



                                </div>

                                <span id="displayAll-btn" class="btn-allCamps">
                                    See all campgrounds...
                                </span>

                                <span id="hideAll-btn" class="btn-allCamps hidden">
                                    Show less...
                                </span>
                            </main>
                        </div>

                        <%- include('includes/footer.ejs') %>
                            <script src="../public/js/app.js"></script>
                            </body>

                            </html>